@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@layer components {

}

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: Montserrat, sans-serif;
}

