@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

@layer components {
  .container {
    max-width: 1536px;
    width: 95%;
    margin: auto;
  }

  .fabkit-Rating-star {
    flex: 0 0 auto;
    height: 15px;
    width: 15px;
  }
  .fabkit-Rating-background {
    fill: #0000002a;
  }
  .fabkit-Rating-fill {
    fill: #4e66b8;
  }

  .bg-image {
    background-image:  url('https://cdn.prod.website-files.com/6319e713f5888cb05c07ca4b/633307ee61fc8dd2106b7fa2_homepage-bg.webp');
  }

  .form-control {
    position: relative;
    width: 400px;
  }

  .form-control input:focus {
    border-left: #0C31F1 solid 2px !important;
  }

  .overflow-hidden {
    overflow: hidden;
  }
}

body, #root, html {
  min-height: 100vh;
  position: relative;
  background-color: white !important;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main { 
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}